body {
  background-color: #333;
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  font-family: "The Nautigal", cursive;
  font-size: 100px;
  color: #fff;
}

#output {
  width: 770px;
  margin: 0 auto;
}

.border-start{
  border-radius: 50px 0px 0px 0px;
  border-top: 10px #fff solid;
}

.border-end{
  border-radius: 0px 50px 0px 0px;
  border-top: 10px #fff solid;
}

.border-radius {
  border-radius: 50px 50px 0px 0px;
  border-top: 10px #fff solid;
}

.border-bot {
  border-radius: 0px 0px 30px 30px;
  border: none;
}

.border-right {
  border-radius: 0px 50px 50px 50px;
}

.border-left {
  border-radius: 50px 0px 50px 50px;
}

.box-style {
  width: 70px;
  height: 100px;

  position: relative;
}

.border-box{
  border: 1px solid rgb(121, 145, 118);
}

.balls-box {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background-color: crimson;
  position: absolute;
  top: 50%;
  left: 40%;
}

.ball-position {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background-color: crimson;
  position: absolute;
  top: 30%;
  left: 40%;
  transform: translate(-50% -50%);
}

.colored {
  border-top: 10px #fff solid;
  background: linear-gradient( rgb(230, 230, 230) , green, green);
  
}

.brown {
  background-color: rgb(107, 58, 12);
}

.star-box::after {
    font-size: 60px;
    content: "\f005";
    font-family: "Font Awesome 5 Free";
    font-weight: 800;
    color: gold;
  }

  .yellow {
    background-color: gold;
  }